.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 104px;
    height: 100vh;
    background-color: #1F1D2B;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px;
}
.sidebar-header{
    display: flex;
    width: 104px;
    height: 104px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
}
.sidebar-logo {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: rgba(248, 77, 77, 0.11);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}