.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 104px;
    height: 100vh;
    background-color: #1F1D2B;
    box-sizing: border-box;
    align-items: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;

}
.sidebar-header{
    display: flex;
    width: 104px;
    height: 104px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 24px;
}
.sidebar-logo {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: rgba(248, 77, 77, 0.11);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #F56F6FFF;
}

.sidebar-logo-img{
    width: 83px;
    height: 83px;
    filter: invert(100%);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    flex-grow: 1;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.sidebar-nav > *:last-child {
    margin-top: auto;
}