.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #252836;
}

.login-card {
    background-color: #1F1D2B;
    padding: 40px;
    border-radius: 16px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.login-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.login-subtitle {
    color: #ABBBC2;
    font-size: 14px;
    margin-bottom: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.form-label {
    color: #E0E6E9;
    margin-bottom: 8px;
    font-size: 14px;
}

/* Contenedor relativo para posicionar el icono del ojo */
.password-input-wrapper {
    position: relative;
    width: 100%;
}

.form-input {
    width: 100%;
    background-color: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    padding: 14px;
    /* Dejamos espacio a la derecha para que el texto no se monte sobre el icono */
    padding-right: 45px;
    color: #FFFFFF;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Ocultar el botón nativo de "mostrar contraseña" de los navegadores (Edge, Chrome) */
.form-input::-ms-reveal,
.form-input::-ms-clear {
    display: none;
}

.form-input:focus {
    border-color: #f56f6f;
}

/* Estilo para nuestro botón personalizado */
.password-toggle-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ABBBC2; /* Color base sutil */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    padding: 0;
}

.password-toggle-btn:hover {
    color: #f56f6f; /* Color de acento al pasar el mouse */
}

.login-button {
    margin-top: 16px;
    background-color: #f56f6f;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 8px 24px rgba(245, 111, 111, 0.3);
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #ff7ca9;
    box-shadow: 0px 8px 24px rgba(245, 111, 111, 0.5);
}

.error-message {
    color: #ff7ca9;
    background-color: rgba(255, 124, 169, 0.1);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 124, 169, 0.3);
}