.card-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 192px;
    height: 226px;
    background-color: #1F1D2B;
    border-radius: 12px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    cursor: pointer;

    /* FIX: Evita que se seleccione el texto al hacer muchos clics */
    user-select: none;
    -webkit-user-select: none; /* Para Safari/Chrome */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para IE/Edge legacy */
}

.card-container:hover {
    transform: scale(1.02);
    border: 1px #e0e0e0 solid;
}

.card-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -34px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 16px 16px 26px 16px;
}

.card-name {
    max-width: 132px;
}

.card-price {
    margin-top: auto;
    margin-bottom: 1px;
    font-weight: 300;
}

.card-stock {
    color: #ABBBC2;
}