.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.header-info .header-title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    color: #FFFFFF;
}

.header-info .header-date {
    margin: 0;
    color: #E0E6E9;
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    padding: 14px;
    color: #FFFFFF;
    width: 220px;
    font-size: 14px;
    text-align: center;
}

.search-bar .search-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
}