/* src/pages/home/HomePage.css */

.homepage-layout {
    display: flex;
    width: 100%;
    height: 100vh;
}

.homepage-main-area {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homepage-header-container {
    padding: 24px 24px 0 24px;
}

.homepage-content-scroller {
    flex: 1;
    overflow-y: auto;
    padding: 55px 24px 24px 24px;
    box-sizing: border-box;
}

.homepage-order-panel-wrapper {
    width: 380px;
    height: 100vh;
    overflow-y: auto;
    background-color: #1F1D2B;
    padding: 24px;
    box-sizing: border-box;
}