html {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #252836;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2D303E;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #50525A;
}

::-webkit-scrollbar-thumb:hover {
    background: #f56f6f;
}